[submodule "blog-database"]
	path = blog-database
	url = git@github.com:MyNetdisk/blog-database.git
[submodule "blog-server"]
	path = blog-server
	url = git@github.com:MyNetdisk/blog-server.git
[submodule "blog-web"]
	path = blog-web
	url = git@github.com:MyNetdisk/blog-web.git
[submodule "blog-admin"]
	path = blog-admin
	url = git@github.com:MyNetdisk/blog-admin.git
